@import '../../../assets/styles/utils.scss';

#locationsBox{
  width: px2vmin(330);
  height: px2vmin(863);
  background-image: url('../../../assets/images/tool/second/tool1_box_cywz.png');
  background-size: 100% 100%;
  position: absolute;
  bottom: px2vmin(40);
  left: px2vmin(-10);
  left: px2vmin(-60);
  .close {
    cursor: pointer;
    position: absolute;
    width: px2vmin(24);
    height: px2vmin(24);
    top: px2vmin(5.8);
    right: px2vmin(7);
  }
  h6 {
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: px2vmin(14);
    margin-top: px2vmin(10);
  }
  .buttonGroup{
    margin-top: px2vmin(20);
    margin-left: px2vmin(15);
    display: flex;
    align-items: center;
    .ant-btn{
      line-height: 100%;
      height: 27px
    }
    .switchThumbnail{
      margin-left: px2vmin(20);
      .switchLabel{
        color: #ffffff;
        font-size: px2vmin(14);
        display: inline-block;
        margin-left: px2vmin(10);
      }
    }
  }

  .locationList_container{
    margin-top: px2vmin(10);
    height: px2vmin(765);
    overflow-y: overlay;
    @include scrollbar(2px);
    .locationList{
      display: flex;
      flex-direction: column;
      align-items: center;

      .locationItem{
        width: px2vmin(300);
        background: #4683c977;
        background-size: 100% 100%;
        border-radius: px2vmin(5);
        box-shadow: 0 0 px2vmin(5) #000;
        margin-bottom: px2vmin(15);
        padding: px2vmin(8) px2vmin(8);
        box-sizing: border-box;
        cursor: pointer;
        .operate{
          display: flex;
          justify-content: space-between;
          width: 100%;
          .name{
            font-size: px2vmin(14);
            color: #ffffff;
          }
          .operateInput{
            .ant-input{
              width: px2vmin(150);
              height: 27px
            }
          }
          .operateButton{
            .ant-btn{
              width: px2vmin(32);
              margin: 0 px2vmin(2);
              height: 27px;
              line-height: 100%;
            }
          }
        }

        img{
          margin-top: px2vmin(8);
          width: 100%;
          height: px2vmin(180);
        }
      }
    }
  }
}
