@import '../../assets/styles/utils.scss';

#background-max {
  // width: px2vmin(2564px);
  // height: px2vmin(1057px);
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
  #background-img {
    width: 100%;
    height: 100%;
    background: url(../../assets//styles//images/img_d.png) no-repeat;
    background-size: 100%;
    position: relative;
    pointer-events: none; //可以滑动地图
   
  }
}

.cesjhio {
  z-index: 2;
}
p {
  margin-bottom: 0px;
}
.data-span-right {
  width: 100%;
  display: flex;
  height: px2vmin(20px);
  // border: 1px red solid;
}
#header {
  color: black;
  width: 100%;
  height: px2vmin(50px);
  position: relative;
  background: url('../../assets/styles/images/tltle_bt.png') center center
    no-repeat;
  //    background-color: pink;
  background-size: 100% 100%;

  .parcel {
    width: px2vmin(350px);
    height: px2vmin(50px);
    // background-color: pink;
    margin: 0 auto;

    .SchoolBadge {
      background: url('../../assets/styles/images/img_sd.png') center center
        no-repeat;
      background-size: 80% 80%;
      width: px2vmin(39px);
      height: px2vmin(39px);
      position: absolute;
      // border: 10px black solid;
      line-height: px2vmin(39px);
      margin-top: px2vmin(2px);
      padding-right: px2vmin(8px);
    }

    .SchoolName {
      position: absolute;
      font-size: px2vmin(20px);
      font-family: YouSheBiaoTiHei;
      color: white;
      padding-left: px2vmin(40px);
      padding-top: px2vmin(8px);
      // font-weight: 400;
      letter-spacing: px2vmin(2px);
    }
  }
}

#round {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../../assets/styles/images/title_d.png) center center
    no-repeat;
  background-size: 100%;
  // background-color: aqua;
  bottom: px2vmin(1px);
  // pointer-events: all;

  .date-time {
    width: px2vmin(484px);
    height: px2vmin(100px);
    // background-color: #57a7b4;
    position: absolute;
    top: px2vmin(-20px);
    left: px2vmin(80px);
    display: flex;
    color: white;

    .Real-time {
      width: px2vmin(100px);
      height: px2min(100px);
      line-height: px2vmin(100px);
      // background-color: aquamarine;
      font-family: YouSheBiaoTiHei;
      color: white;
    }

    .real-totality {
      height: px2vmin(50px);
      line-height: px2vmin(10px);

      .Real-date {
        padding-top: px2vmin(30px);
      }
    }
  }

  .round-left {
    width: px2vmin(484px);
    height: px2vmin(980px);
    // background-color: antiquewhite;
    position: absolute;
    top: px2vmin(60px);
    left: px2vmin(60px);
    pointer-events: all;

    .round-left-top {
      width: px2vmin(484px);
      height: px2vmin(31px);
      position: absolute;
      background-color: #89fdef;
      background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
      background-size: 100%;

      .round-left-img {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
      }

      .round-left-font {
        font-family: YouSheBiaoTiHei;
        font-size: px2vmin(24px);
        color: white;
        padding-left: px2vmin(50px);
        padding-top: px2vmin(1px);
      }
    }

    .round-left-middle {
      width: px2vmin(484px);
      height: px2vmin(31px);
      // background-color: pink;
      position: absolute;
      // display: flex;
      background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
      background-size: 100%;
      margin-top: px2vmin(10px);
      margin-bottom: px2vmin(10px);

      .round-left-img {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
      }

      .round-left-font {
        font-family: YouSheBiaoTiHei;
        font-size: px2vmin(24px);
        color: white;
        padding-left: px2vmin(50px);
      }
    }
  }
}
.round-tabs {
  width: px2vmin(83px);
  height: px2vmin(32px);
  background: url(../../assets/styles/images/btn_gaun.png) center center
    no-repeat;
  background-size: 100%;
}
.dropdown-img {
  width: px2vmin(12px);
  height: px2vmin(6px);
  background: url(../../assets/styles/images/icon_ss.png) center center
    no-repeat;
  background-size: 100%;
  position: relative;
  top: px2vmin(-12px);
  margin-top: px2vmin(12px);
  cursor: 'pointer';
  margin-left: px2vmin(12px);
}
.dropdown-list {
  position: absolute;
  left: px2vmin(25px);
  font-size: px2vmin(14px);
  color: white;
}
.dropdown-img1 {
  width: px2vmin(12px);
  height: px2vmin(6px);
  // background: url(../../assets/styles/images/icon_ss.png)center center
  // no-repeat;
  background-color: pink;
  position: absolute;
  margin-top: px2vmin(12px);
  cursor: 'pointer';
  margin-left: px2vmin(12px);
}
.list-collegiate {
  width: px2vmin(12px);
  height: px2vmin(6px);
  background: url(../../assets/styles/images/icon_ss.png) center center
    no-repeat;
  background-size: 100%;
  position: absolute;
  margin-top: px2vmin(12px);
  cursor: 'pointer';
  right: px2vmin(50px);
}

.round-right {
  width: px2vmin(484px);
  height: px2vmin(980px);
  // background-color: antiquewhite;
  position: absolute;
  top: px2vmin(60px);
  right: px2vmin(60px);
  pointer-events: all;
  .one {
    width: px2vmin(484px);
    height: px2vmin(230px);
    // background-color: #ffffff;

    .round-left-top {
      width: px2vmin(484px);
      height: px2vmin(31px);
      position: absolute;
      background-color: #89fdef;
      background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
      background-size: 100%;

      .round-left-img {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
      }

      .round-left-font {
        font-family: YouSheBiaoTiHei;
        font-size: px2vmin(24px);
        color: white;
        padding-left: px2vmin(50px);
        padding-top: px2vmin(1px);
      }
    }
    .round-left-header {
      display: flex;
      width: px2vmin(463px);
      height: px2vmin(183px);
      margin-left: px2vmin(10px);
      background: url(../../assets/styles/images/box_4.png);
      position: absolute;
      margin-top: px2vmin(39px);
      // background-color: #FFB660;

      .similarity {
        margin-left: px2vmin(18px);
        position: relative;
        right: px2vmin(40px);
        font-size: px2vmin(14px);
      }

      .hunt-down {
        width: px2vmin(168px);
        height: px2vmin(168px);
        background: url(../../assets/styles/images/img_6.png);
        margin-top: px2vmin(7px);
        // position: absolute;
        cursor: pointer;
      }
      .down-input {
        width: px2vmin(295px);
        height: px2vmin(168px);
        opacity: 900000;
        // border: 1px red solid;
        margin-left: px2vmin(10px);
        .similarity-percent {
          width: px2vmin(183px);
          position: relative;
          bottom: px2vmin(15px);
          left: px2vmin(15px);
          color: white;

          .similarity-percent1 {
            width: px2vmin(144px);
            margin-top: px2vmin(16px);
            // bottom: px2vmin(15px);
            // position: relative;
            // left: px2vmin(15px);
          }
          .similarity-percent2 {
            width: px2vmin(144px);
            margin-top: px2vmin(16px);
            position: relative;
            left: px2vmin(15px);
            top: px2vmin(100px);
          }
          .c-percent {
            position: relative;
            bottom: px2vmin(15px);
            left: px2vmin(25px);
            width: px2vmin(43px);
          }
        }

        .calendar {
          .initiate {
            font-size: px2vmin(14px);
            color: white;
            margin-top: px2vmin(15px);
          }
          .Start-time {
            width: px2vmin(189px);
            height: px2vmin(30px);
            background: url(../../assets/styles/images/intup_sj.png);
            background-size: 100%;
          }
          .calender-time {
            display: flex;
            .datepicker-left {
              width: px2vmin(189px);
              height: px2vmin(30px);
              margin-top: px2vmin(12px);
              margin-left: px2vmin(15px);
              background: url(../../assets/styles/images/intup_sj.png);
            }
            .ant-picker-suffix {
              color: white;
            }
          }
          .calender-end {
            display: flex;
            .datepicker-right {
              margin-left: px2vmin(15px);
              width: px2vmin(189px);
              height: px2vmin(30px);
              position: relative;
              margin-top: px2vmin(10px);
              background: url(../../assets/styles/images/intup_sj.png);
            }
          }
          .ant-picker-suffix {
            color: white;
          }
          .ant-picker-input > input {
            color: white;
          }
        }
        .Capture-photograph {
          width: px2vmin(260px);
          height: px2vmin(130px);
          // border: 1px pink solid;
          .Capture-library {
            display: flex;
            justify-content: space-between;

            .Capture-library-left {
              width: px2vmin(124px);
              height: px2vmin(30px);
              line-height: px2vmin(30px);
              color: white;
              text-align: center;
              background: url(../../assets/styles/images/btn_rl.png);
              background-size: 100%;
              cursor: pointer;
            }
            .Capture-library-right {
              width: px2vmin(124px);
              height: px2vmin(30px);
              background: url(../../assets/styles/images/btn_rl.png);
              background-size: 100%;
              cursor: pointer;
              line-height: px2vmin(30px);
              color: white;
              text-align: center;
            }
          }
          .Capture-search {
            width: px2vmin(258px);
            height: px2vmin(30px);
            background: url(../../assets/styles/images/btn_c.png);
            background-size: 100%;
            margin-top: px2vmin(12px);
            cursor: pointer;
            
            .Capture-search-img {
              width: px2vmin(23px);
              height: px2vmin(23px);
              margin-left: px2vmin(113px);
              position: relative;
              top: px2vmin(3px);
              background: url(../../assets//styles/images/icon_ss.png);
              background-size: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .two {
    width: px2vmin(484px);
    height: px2vmin(230px);
    //  background-color: #221010;

    .round-left-top {
      width: px2vmin(484px);
      height: px2vmin(31px);
      position: absolute;
      background-color: #89fdef;
      background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
      background-size: 100%;

      .round-left-img {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
      }

      .round-left-font {
        font-family: YouSheBiaoTiHei;
        font-size: px2vmin(24px);
        color: white;
        padding-left: px2vmin(50px);
        padding-top: px2vmin(1px);
      }
    }

    .round-left-header {
      width: px2vmin(463px);
      height: px2vmin(158px);
      margin-left: px2vmin(10px);
      background: url(../../assets/styles/images/box_5.png);
      position: absolute;
      margin-top: px2vmin(39px);
    }
  }

  .there {
    width: px2vmin(484px);
    height: px2vmin(230px);
     background-color: #221010;
    margin-top: px2vmin(-11px);

    .round-left-top {
      display: flex;
      width: px2vmin(484px);
      height: px2vmin(31px);
      position: absolute;
      background-color: #89fdef;
      background: url(../../assets/styles/images/title_2_bjqs.png) no-repeat;
      background-size: 100%;

      .round-left-img {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
      }

      .round-left-font {
        font-family: YouSheBiaoTiHei;
        font-size: px2vmin(24px);
        color: white;
        padding-left: px2vmin(50px);
        padding-top: px2vmin(1px);
      }
      .round-left-select {
        width: px2vmin(129px);
        height: px2vmin(30px);
        background: url(../../assets/styles/images/btn_louc1.png);
        background-size: 100%;
        margin-left: px2vmin(195px);
        background-color: transparent;
        color: white;
        z-index: 2;
        display: flex;
        border: 0;
        appearance: none;
        padding-left: px2vmin(10px);
        .round-left-option {
          background-color: #507882;
          color: white;
        }
      }
      .round-select-img {
        width: px2vmin(25px);
        height: px2vmin(25px);
        background: url(../../assets/styles/images/icon_xl.png);
        background-size: 100%;
        position: absolute;
        margin-left: px2vmin(424px);
        margin-top: px2vmin(3px);
        z-index: 3;
        -webkit-appearance: none;
        　-moz-appearance: none;
      }
    }
    .round-left-header {
      width: px2vmin(463px);
      height: px2vmin(154px);
      margin-left: px2vmin(10px);
      background: url(../../assets/styles/images/biox_1.png);
      position: absolute;
      margin-top: px2vmin(39px);
    }
  }
  #four {
    width: px2vmin(484px);
    height: px2vmin(260px);
    position: relative;
    // background-color: pink;
    margin-top: px2vmin(-31px);

    .round-left-quanti {
      width: px2vmin(484px);
      height: px2vmin(200px);
      // background-color: #1ab0ba;
      // overflow-x: hidden;
      // overflow-y: auto;
      .round-left-header::-webkit-scrollbar {
        width: px2vmin(8px);
        height: px2vmin(8px);
        background-color: #02577c;
      }
      .round-left-header::-webkit-scrollbar-track {
        background-color: #02577c !important;
      }
      .round-left-header::-webkit-scrollbar-thumb {
        background-color: #27cbff;
        border-radius: px2vmin(10px);
      }
      .round-left-header {
        width: px2vmin(463px);
        height: px2vmin(300px);
        margin-left: px2vmin(10px);
        background: url(../../assets/styles/images/biox_1.png);
        position: absolute;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: px2vmin(13px);
        // margin-top: 39px;

        

        .alarm-enquiries {
          display: flex;
          // overflow-x: hidden;
          // overflow-y: auto;
          width: px2vmin(465px);
          height: px2vmin(96px);
          background: url(../../assets/styles/images/img_bj.png);
          background-size: 100%;
          margin-top: 5px;
          .one2 {
            display: flex;
            .tab-cars {
              width: px2vmin(84px);
              height: px2vmin(84px);
              // background: url(../../assets/styles/images/img-1-2.png) no-repeat;
              background-size: 100%;
              border: 1px pink solid;
            }
            .tab-cars-right {
              width: px2vmin(284px);
              height: px2vmin(84px);
              // border: 1px yellow solid;
            }
            .tab-button {
              width: px2vmin(84px);
              height: px2vmin(84px);
              // border: 1px pink solid;
              .tab-button-text {
                color: #85bfe5;
                font-size: px2vmin(12px);
                float: right;
              }
              .tab-button-look {
                // width: px2vmin(44px);
                height: px2vmin(22px);
                background-color: #1ab0ba;
                float: right;
                border: none;
                color: white;
                position: relative;
                margin-top: px2vmin(40px);
                margin-left: px2vmin(15px);
                text-align: center;
                font-size: px2vmin(12px);
                cursor: pointer;
              }
            }
            .one2-tab-cars {
              width: px2vmin(200px);
              height: px2vmin(24px);
              color: white;
              display: flex;
              margin-left: px2vmin(10px);
              .cars-distance {
                // margin-left: px2vmin(40px);
                font-size: px2vmin(14px);
                color: #ffb660;
              }
            }
            .tabs {
              white-space: nowrap;
              display: flex;
              color: white;
              font-size: px2vmin(14px);
            }
          }
          .tab-contents {
            width: px2vmin(270px);
            height: px2vmin(50px);
            // border: 1px rgb(29, 4, 4) solid;
            margin-top: px2vmin(15px);
            .one1 {
              background: url(../../assets/styles/images/img-1-2.png);
              background-size: 100%;
            }

            .tab1-border {
              display: flex;
              .tab1-img {
                width: px2vmin(11.43px);
                height: px2vmin(13.71px);
                background: url(../../assets/styles/images/icon_dd.png);
                background-size: 100%;
                margin-left: px2vmin(10px);
              }
              .tab1-text {
                color: white;
                font-size: px2vmin(14px);
                margin-top: px2vmin(-4px);
                margin-bottom: px2vmin(5px);
                margin-left: px2vmin(10px);
              }
            }
            .tab1-border1 {
              display: flex;
              .tab-bottom-img {
                width: px2vmin(12.57px);
                height: px2vmin(12.57px);
                background: url(../../assets/styles/images/icon_sj.png);
                background-size: 100%;
                margin-left: px2vmin(10px);
              }
              .tab-bottom-text {
                color: white;
                font-size: px2vmin(14px);
                margin-top: px2vmin(-4px);
                margin-left: px2vmin(10px);
              }
            }
          }

          
        }
      }
      .button-upper {
        width: px2vmin(51.5px);
        height: px2vmin(51.5px);
        background: url(../../assets/styles/images/btn_fw.png);
        background-size: 100%;
        position: relative;
        left: px2vmin(-59px);
        cursor: pointer;
        top: px2vmin(200px);
        // top: 180px;
        pointer-events: all;
      }
      .button-aidkit {
        width: px2vmin(51.5px);
        height: px2vmin(51.5px);
        background: url(../../assets/styles/images/btin_gj.png);
        background-size: 100%;
        position: relative;
        top: px2vmin(200px);
        left: px2vmin(-59px);
        cursor: pointer;
        pointer-events: all;
      }
    }
    .round-left-top {
      width: px2vmin(484px);
      height: px2vmin(31px);
      z-index: 500;
      position: relative;
      background-color: #89fdef;
      background: url(../../assets/styles/images/title_2_bjqs.png) no-repeat;
      background-size: 100%;

      .round-left-img {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
      }

      .round-left-font {
        font-family: YouSheBiaoTiHei;
        font-size: px2vmin(24px);
        color: white;
        padding-left: px2vmin(50px);
        padding-top: px2vmin(1px);
      }
    }

    .cars-white {
      color: #b2edff;
      font-size: px2vmin(14px);
    }
    .cars-juli {
      margin-left: 10px;
    }
  }
}
#dateofday:before {
  width: px2vmin(189px);
  height: px2vmin(30px);
  color: #808080;
  background: url(../../assets/styles/images/intup_sj.png);
  content: attr(placeholder);
  -webkit-appearance: textarea；;
}

.button-merge {
  width: px2vmin(103px);
  height: px2vmin(44px);
  background: url(../../assets/styles/images/btn_xggl.png);
  background-size: 100%;
  position: relative;
  top: px2vmin(5px);
  left: px2vmin(490px);
  line-height: px2vmin(44px);
  text-align: center;
  font-size: px2vmin(20px);
  cursor: pointer;
  color: white;
  font-family: YouSheBiaoTiHei;
  pointer-events: all;
}
.button-manage {
  width: px2vmin(103px);
  height: px2vmin(44px);
  line-height: px2vmin(44px);
  background: url(../../assets/styles/images/btn_xggl.png);
  background-size: 100%;
  position: relative;
  top: px2vmin(25px);
  left: px2vmin(490px);
  color: white;
  text-align: center;
  font-size: px2vmin(20px);
  font-family: YouSheBiaoTiHei;
  cursor: pointer;
  pointer-events: all;
}
.rounds-inspect::-webkit-scrollbar-thumb {
  background: #40a0ff49 !important;
  border-radius: px2vmin(10px);
}
.rounds-inspect::-webkit-scrollbar-corner {
  display: none !important;
}
.rounds-inspect::-webkit-scrollbar-thumb {
  width: px2vmin(8px);
  height: px2vmin(90px);
  color: #52a5ed;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}
.ant-picker-input {
  border: transparent;
}
#mainEcharts {
  // margin-top: 20px;
  width: 100%;
  height: px2vmin(250px);
  position: relative;
  bottom: px2vmin(50px);
  left: 0px;
}
.ant-tree-indent svg {
  width: px2vmin(12px);
  height: px2vmin(6px);
  background: url(../../assets/styles/images/img_s_1.png) !important;
  background-size: 100%;
}
.ant-tree .ant-tree-node-content-wrapper:hover {
  background-color: transparent !important;
}
#Supervisory-header {
  width: px2vmin(180px);
  height: px2vmin(20px);
  // border: 1px solid pink;
  background-color: transparent;
  display: flex;
  #Supervisory {
    width: px2vmin(15px);
    height: px2vmin(15px);
    background: url(../../assets/styles/images/icon_jk.png) no-repeat;
    background-size: 100%;
    margin-top: 2px;
  }
  .Supervisory-text {
    margin-left: px2vmin(10px);
    margin-top: px2vmin(-2px);
  }
  .Supervisory-img {
    width: px2vmin(16.67px);
    height: px2vmin(16.25px);
    background: url(../../assets/styles/images/icon_sc.png) no-repeat;
    background-size: 100%;
    margin-left: px2vmin(13px);
    margin-top: 2px;
  }
  .Supervisory-img-two {
    width: px2vmin(20px);
    height: px2vmin(20px);
    background: url(../../assets/styles/images/icon_sc_2.png) no-repeat;
    background-size: 100%;
    margin-left: px2vmin(11px);
    // margin-left: 11px;
    // margin-top: 2px;
  }
}

#renlian-ku {
  width: px2vmin(756px);
  height: px2vmin(691.55px);
  position: absolute;
  left: 50%;
  margin-left: -50%;
  top: 50%;
  margin-top: -50%;
}
