@import '../../assets/styles/utils.scss';

#background-img {
  width: 100%;
  height: 100%;
  background: url(../../assets//styles//images/img_d.png) center center
    no-repeat;
  position: relative;
}
#header {
  color: black;
  width: 100%;
  height: px2vmin(50px);
  position: relative;
  background: url('../../assets/styles/images/tltle_bt.png') center center
    no-repeat;
  //    background-color: pink;
  background-size: 100% 100%;

  .parcel {
    width: px2vmin(350px);
    height: px2vmin(50px);
    // background-color: pink;
    margin: 0 auto;

    .SchoolBadge {
      background: url('../../assets/styles/images/img_sd.png') center center
        no-repeat;
      background-size: 80% 80%;
      width: px2vmin(39px);
      height: px2vmin(39px);
      position: absolute;
      // border: 10px black solid;
      line-height: px2vmin(39px);
      margin-top: px2vmin(2px);
      padding-right: px2vmin(8px);
    }

    .SchoolName {
      position: absolute;
      font-size: px2vmin(20px);
      font-family: YouSheBiaoTiHei;
      color: white;
      padding-left: px2vmin(40px);
      padding-top: px2vmin(8px);
      // font-weight: 400;
      letter-spacing: px2vmin(2px);
    }
  }
}

#round {
  width: 100%;
  height: 100%;
  position: absolute;

  background: url(../../assets/styles/images/title_d.png) center center
    no-repeat;
  background-size: 100% 100%;
  // background-color: aqua;
  bottom: px2vmin(1px);

  .date-time {
    width: px2vmin(484px);
    height: px2vmin(100px);
    // background-color: #57a7b4;
    position: absolute;
    top: px2vmin(-20px);
    left: px2vmin(80px);
    display: flex;
    color: white;

    .Real-time {
      width: px2vmin(100px);
      height: px2min(100px);
      line-height: px2vmin(100px);
      // background-color: aquamarine;
      font-family: YouSheBiaoTiHei;
      color: white;
    }

    .real-totality {
      height: px2vmin(50px);
      line-height: px2vmin(10px);

      .Real-date {
        padding-top: px2vmin(30px);
      }
    }
  }

  .round-left {
    width: px2vmin(484px);
    height: px2vmin(980px);
    background-color: antiquewhite;
    position: absolute;
    top: px2vmin(60px);
    left: px2vmin(60px);

    .round-left-top {
      width: px2vmin(484px);
      height: px2vmin(31px);
      position: absolute;
      background-color: #89fdef;
      background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
      background-size: 100%;

      .round-left-img {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
      }

      .round-left-font {
        font-family: YouSheBiaoTiHei;
        font-size: px2vmin(24px);
        color: white;
        padding-left: px2vmin(50px);
        padding-top: px2vmin(1px);
      }
    }

    .round-left-header {
      width: px2vmin(463px);
      height: px2vmin(154px);
      margin-top: px2vmin(40px);
      margin-left: 10px;
      background: url(../../assets/styles/images/biox_1.png);
      padding-top: px2vmin(20px);
      display: flex;
      // background-color: #FFB660;

      .round-left-totality {
        width: px2vmin(184.57px);
        height: px2vmin(117px);
        background: url(../../assets/styles/images/Group11184.png);
        background-size: 100%;
        // background-color: aqua;
      }

      .round-left-title {
        margin-left: px2vmin(5px);

        .rounf-leftTitle-quantity {
          font-family: YouSheBiaoTiHei;
          font-size: px2vmin(24px);
          color: white;
        }

        .title-Statistics {
          width: px2vmin(230px);
          height: px2vmin(26px);
          background: url(../../assets/styles/images/boc_cl.png);
          display: flex;

          .Statistics-online {
            width: px2vmin(115px);
            height: px2vmin(26px);
            // background-color: bisque;
            display: flex;
            text-align: center;
            padding-top: px2vmin(4px);

            .online-img {
              width: px2vmin(14px);
              height: px2vmin(14px);
              background: url(../../assets/styles/images/img_l.png);
            }

            .online-text {
              font-size: px2vmin(14px);
              color: white;
              padding-left: px2vmin(5px);
            }

            .online-people {
              font-family: YouSheBiaoTiHei;
              font-size: px2vmin(24px);
              color: #89fdef;
              line-height: px2vmin(15px);
              padding-left: px2vmin(10px);
            }
          }

          .Statistics-Offline {
            width: px2vmin(115px);
            height: px2vmin(26px);
            // background-color: rgb(102, 95, 87);
            display: flex;
            padding-top: px2vmin(4px);
            text-align: center;

            .Offline-img {
              width: px2vmin(14px);
              height: px2vmin(14px);
              background: url(../../assets/styles/images/img_h.png);
            }

            .Offline-text {
              font-size: px2vmin(14px);
              color: #d1dfe0;
              padding-left: px2vmin(5px);
            }

            .Offline-people {
              font-family: YouSheBiaoTiHei;
              font-size: px2vmin(24px);
              color: #ffb660;
              line-height: px2vmin(15px);
              padding-left: px2vmin(10px);
            }
          }
        }

        .round-title {
          color: white;
        }
      }
    }

    .round-left-middle {
      width: px2vmin(484px);
      height: px2vmin(31px);
      background-color: pink;
      position: absolute;
      // display: flex;
      background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
      background-size: 100%;
      margin-top: px2vmin(10px);
      margin-bottom: px2vmin(10px);

      .round-left-img {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
      }

      .round-left-font {
        font-family: YouSheBiaoTiHei;
        font-size: px2vmin(24px);
        color: white;
        padding-left: px2vmin(50px);
      }

      .round-Supervisory {
        width: px2vmin(463px);
        height: px2vmin(417px);
        position: absolute;
        // background-color: white;
        margin-left: px2vmin(10px);
        background: url(../../assets/styles/images/box_2_1.png);

        .tabs {
          display: flex;

          .tab-list {
            width: px2vmin(83px);
            height: px2vmin(32px);
            background: url(../../assets/styles/images/btn_gaun.png) center
              center no-repeat;
            background-size: 100%;
            // position: absolute;
            color: white;
            border: none;
            background-color: transparent;
          }

          .tab-Collect {
            width: px2vmin(83px);
            height: px2vmin(32px);
            background: url(../../assets/styles/images/btn_gaun_1.png) center
              center no-repeat;
            background-size: 100%;
            color: white;
            cursor: pointer;
            // position: absolute;
            border: none;
            background-color: transparent;
          }

          .tab-input {
            width: px2vmin(220px);
            height: px2vmin(30px);
            background: url(../../assets/styles/images/box_intup.png) center
              center no-repeat;
            background-size: 100%;
            border: px2vmin(1px) #49b8f6 solid;
            padding-left: px2vmin(10px);
            margin-left: px2vmin(20px);
            margin-top: px2vmin(5px);
          }

          .tab-Searchbox {
            width: px2vmin(36px);
            height: px2vmin(30px);
            background: url(../../assets/styles/images/box_intup_1.png) center
              center no-repeat;
            background-size: 100%;
            align-content: center;
            margin-left: px2vmin(5px);
            margin-top: px2vmin(5px);
          }
          .tab-Magnifying {
            width: px2vmin(23px);
            height: px2vmin(23px);
            background: url(../../assets/styles/images/icon_ss.png) center
              center no-repeat;
            background-size: 100%;
            margin-left: px2vmin(5px);
            margin-top: px2vmin(5px);
          }
          .dropdown-img {
            width: px2vmin(12px);
            height: px2vmin(6px);
            background: url(../../assets/styles/images/icon_ss.png) center
              center no-repeat;
            background-size: 100%;
          }
        }
      }
    }

    .round-left-bottom {
      width: px2vmin(463px);
      height: px2vmin(304px);
      position: absolute;
      background-color: pink;
      // opacity: 1;
      margin-top: px2vmin(490px);
      margin-left: px2vmin(10px);
      float: left;

      .round-left-imgs {
        width: px2vmin(484px);
        height: px2vmin(31px);
        position: absolute;
        background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
        background-size: 100%;
        opacity: 1000;

        .round-left-font {
          font-family: YouSheBiaoTiHei;
          font-size: px2vmin(24px);
          color: white;
          padding-left: px2vmin(50px);
          padding-top: px2vmin(1px);
        }
      }
      .round-Controls {
        width: px2vmin(463px);
        height: px2vmin(237px);
        background: url(../../assets/styles/images/box_3.png) center center
          no-repeat;
        background-size: 100%;
        margin-top: px2vmin(50px);

        .Controls-header {
          width: px2vmin(438px);
          height: px2vmin(39px);
          background: url(../../assets/styles/images/title_spxl.png) center
            center no-repeat;
          background-size: 100%;
          margin-left: px2vmin(12px);
          display: flex;
          // justify-content: center;
          align-items: center;
          padding-top: px2vmin(20px);

          .Controls-Serial {
            margin-left: px2vmin(26px);
            font-size: px2vmin(16px);
            color: white;
            flex-grow: 1;
          }

          .Controls-route {
            margin-left: px2vmin(109px);
            font-size: px2vmin(16px);
            color: white;
            flex-grow: 1;
          }

          .Controls-Controls {
            margin-left: px2vmin(109px);
            font-size: px2vmin(16px);
            color: white;
            flex-grow: 1;
          }
        }

        .rounds-inspect {
          width: px2vmin(438px);
          height: px2vmin(184px);
          background-color: #ffb660;
          margin-top: px2vmin(10px);
          margin-left: px2vmin(12px);

          .inspect-one {
            width: px2vmin(438px);
            height: 46px;
            // height: px2vmin(46px);
            // background-color: #e9e9e9;
            display: flex;
            align-items: center;
            padding-top: px2vmin(20px);

            // .img{
            //   width: px2vmin(12px);
            //   height: px2vmin(13px);
            //   background: url(../../assets/styles/images/img_xz.png)center
            //   center no-repeat;
            //   background-size: 100%;
            // }

            .Controls-Seriall {
              margin-left: px2vmin(34px);
              color: white;
              flex-grow: 1;
            }

            .Controls-routel {
              margin-left: px2vmin(45px);
              font-size: px2vmin(16px);
              color: white;
              flex-grow: 1;
            }

            .Controls-Controlss {
              width: px2vmin(44px);
              height: px2vmin(22x);
              margin-right: px2vmin(26px);
              cursor: pointer;
              color: white;
              background: url(../../assets/styles/images/btn_look2.png) center
                center no-repeat;
              background-size: 100%;
            }
          }
          .inspect-one:hover {
            cursor: pointer;
            width: px2vmin(438px);
            height: px2vmin(46px);
            // height: px2vmin(46px);
            background-color: #e9e9e9;
            background: url(../../assets/styles/images/btn_look2.png) center
              center no-repeat;
            background-size: 100%;
            display: flex;
            align-items: center;
            padding-top: px2vmin(20px);

            .img {
              width: px2vmin(12px);
              height: px2vmin(13px);
              background: url(../../assets/styles/images/img_xz.png) center
                center no-repeat;
              background-size: 100%;
            }

            .Controls-Seriall {
              margin-left: px2vmin(34px);
              color: white;
              flex-grow: 1;
            }

            .Controls-routel {
              margin-left: px2vmin(45px);
              font-size: px2vmin(16px);
              color: white;
              flex-grow: 1;
            }

            .Controls-Controlss {
              width: px2vmin(44px);
              height: px2vmin(22x);
              margin-right: px2vmin(26px);
              cursor: pointer;
              color: white;
              background: url(../../assets/styles/images/btn_look2.png) center
                center no-repeat;
              background-size: 100%;
            }
          }
        }
      }
    }
  }
}
.round-tabs {
  width: px2vmin(83px);
  height: px2vmin(32px);
  background: url(../../assets/styles/images/btn_gaun.png) center center
    no-repeat;
  background-size: 100%;
}
.dropdown-img {
  width: px2vmin(12px);
  height: px2vmin(6px);
  background: url(../../assets/styles/images/icon_ss.png) center center
    no-repeat;
  background-size: 100%;
  position: absolute;
  margin-top: px2vmin(12px);
  cursor: 'pointer';
  margin-left: px2vmin(12px);
}
.dropdown-list {
  position: absolute;
  left: px2vmin(25px);
  font-size: px2vmin(14px);
  color: white;
}
.dropdown-img1 {
  width: px2vmin(12px);
  height: px2vmin(6px);
  // background: url(../../assets/styles/images/icon_ss.png)center center
  // no-repeat;
  background-color: pink;
  position: absolute;
  margin-top: px2vmin(12px);
  cursor: 'pointer';
  margin-left: px2vmin(12px);
}
.list-collegiate {
  width: px2vmin(12px);
  height: px2vmin(6px);
  background: url(../../assets/styles/images/icon_ss.png) center center
    no-repeat;
  background-size: 100%;
  position: absolute;
  margin-top: px2vmin(12px);
  cursor: 'pointer';
  right: px2vmin(50px);
}

.round-right {
  width: px2vmin(484px);
  height: px2vmin(980px);
  background-color: antiquewhite;
  position: absolute;
  top: px2vmin(60px);
  right: px2vmin(60px);

  .one{
    width: px2vmin(484px);
   height: px2vmin(230px);
   background-color: #ffffff;

   .round-left-top {
    width: px2vmin(484px);
    height: px2vmin(31px);
    position: absolute;
    background-color: #89fdef;
    background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
    background-size: 100%;

    .round-left-img {
      width: px2vmin(484px);
      height: px2vmin(31px);
      position: absolute;
    }

    .round-left-font {
      font-family: YouSheBiaoTiHei;
      font-size: px2vmin(24px);
      color: white;
      padding-left: px2vmin(50px);
      padding-top: px2vmin(1px);
    }
  }
   .round-left-header {
    width: px2vmin(463px);
    height: px2vmin(183px);
    margin-left: px2vmin(10px);
    background: url(../../assets/styles/images/box_4.png);
    position: absolute;
    margin-top: px2vmin(39px);
    // background-color: #FFB660;

    .similarity{
      margin-left: px2vmin(18px);
    }
    
    .hunt-down{
      width: px2vmin(168px);
      height: px2vmin(168px);
      background: url(../../assets/styles/images/img_6.png);
      margin-top: px2vmin(7px);
      position: absolute;
    }
    .down-input{
      width: px2vmin(144px);
      height: px2vmin(4px);
      opacity: 900000;
      margin-left: px2vmin(220px);
      position: absolute;

      .calendar{
        .initiate{
          font-size:px2vmin(14px) ;
          color: white;
        }
      }
    }
  }

}

.two{
  width: px2vmin(484px);
 height: px2vmin(230px);
//  background-color: #221010;

 .round-left-top {
  width: px2vmin(484px);
  height: px2vmin(31px);
  position: absolute;
  background-color: #89fdef;
  background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
  background-size: 100%;

  .round-left-img {
    width: px2vmin(484px);
    height: px2vmin(31px);
    position: absolute;
  }

  .round-left-font {
    font-family: YouSheBiaoTiHei;
    font-size: px2vmin(24px);
    color: white;
    padding-left: px2vmin(50px);
    padding-top: px2vmin(1px);
  }
}
 .round-left-header {
  width: px2vmin(463px);
  height: px2vmin(158px);
  margin-left: 10px;
  background: url(../../assets/styles/images/box_5.png);
  position: absolute;
  margin-top: px2vmin(39px);
  // background-color: #FFB660;

  .alarm-picture{
    width: px2vmin(152.5px);
  height: px2vmin(152.5px);
    background: url(../../assets/styles/images/img_l.png);
    // background-color: #ffffff;
    background-size: 100%;
    position: absolute;
  }
}

}

.there{
  width: px2vmin(484px);
 height: px2vmin(230px);
//  background-color: #221010;

 .round-left-top {
  width: px2vmin(484px);
  height: px2vmin(31px);
  position: absolute;
  background-color: #89fdef;
  background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
  background-size: 100%;

  .round-left-img {
    width: px2vmin(484px);
    height: px2vmin(31px);
    position: absolute;
  }

  .round-left-font {
    font-family: YouSheBiaoTiHei;
    font-size: px2vmin(24px);
    color: white;
    padding-left: px2vmin(50px);
    padding-top: px2vmin(1px);
  }
}
 .round-left-header {
  width: px2vmin(463px);
  height: px2vmin(154px);
  margin-left: 10px;
  background: url(../../assets/styles/images/biox_1.png);
  position: absolute;
  margin-top: px2vmin(39px);
  // background-color: #FFB660;
}

}
.four{
  width: px2vmin(484px);
 height: px2vmin(230px);
//  background-color: #221010;

 .round-left-top {
  width: px2vmin(484px);
  height: px2vmin(31px);
  position: absolute;
  background-color: #89fdef;
  background: url(../../assets/styles/images/title_rlgj.png) no-repeat;
  background-size: 100%;

  .round-left-img {
    width: px2vmin(484px);
    height: px2vmin(31px);
    position: absolute;
  }

  .round-left-font {
    font-family: YouSheBiaoTiHei;
    font-size: px2vmin(24px);
    color: white;
    padding-left: px2vmin(50px);
    padding-top: px2vmin(1px);
  }
}
 .round-left-header {
  width: px2vmin(463px);
  height: px2vmin(154px);
  margin-left: 10px;
  background: url(../../assets/styles/images/biox_1.png);
  position: absolute;
  margin-top: px2vmin(39px);
  // background-color: #FFB660;
}

}
}
