@import '../../../../assets/styles/utils.scss';

#results {
  width: px2vmin(491px);
  height: px2vmin(327.2px);
  // background-color: pink;
  background: url(../../../../assets/styles/images/pop_lujxl_1.png);
  background-size: 100%;
  float: right;
  margin-right: px2vmin(540px);
  margin-top: px2vmin(100px);
  pointer-events: all;
  #details-header {
    width: px2vmin(491px);
    height: 30px;
    // border: 1px pink solid;
    // display: flex;
    .details-header-text {
      font-family: YouSheBiaoTiHei;
      font-size: px2vmin(20px);
      text-align: center;
      color: white;
      margin: 0 auto;
    }
    .details-header-img {
      position: relative;
      // margin-right: -72px;
      top: px2vmin(-28px);
      left: px2vmin(432px);
      width: px2vmin(128px);
      height: px2vmin(18px);
      color: white;
      font-size: px2vmin(14px);
      cursor: pointer;
    }
  }
  #details-context {
    width: px2vmin(475px);
    height: px2vmin(250px);
    // border: 1px rgb(216, 4, 39) solid;
    margin-left: px2vmin(8px);
    margin-right: px2vmin(8px);
    margin-top: px2vmin(10px);
    .details-context-header {
      width: px2vmin(475px);
      height: px2vmin(30px);
      background: url(../../../../assets/styles/images/title_rl_1.png);
      background-size: 100%;
      .details-context-kong {
        width: px2vmin(415px);
        height: px2vmin(30px);
        // border: 1px pink solid;
        margin: 0 auto;
        .details-context-ul {
          display: flex;
          color: white;
          justify-content: space-between;
          padding-left: 0 !important;
        }
      }
    }
    .details-foot::-webkit-scrollbar {
      width: px2vmin(8px);
    //   height: 800px;
      background-color: #02577c !important;
    }
    .details-foot::-webkit-scrollbar-track {
      height: px2vmin(50px);
      background-color: #13455a !important;
    }
    .details-foot::-webkit-scrollbar-thumb {
      background-color: #23f4e8 !important;
      border-radius: px2vmin(10px);
    }
    .details-foot {
      width: px2vmin(475px);
      height: px2vmin(250px);
    //   border: 1px rgb(15, 13, 13) solid;
      // left: 10px;
      // position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 0 auto;
      .details-foot-ul li:hover{
        cursor: pointer;
        
      }
      .details-foot-ul :hover{
        width: px2vmin(475px);
        height: px2vmin(48px);
        background:url(../../../../assets/styles/images/img_rl_3.png) ;
        background-size: 100%;
      }
      .details-foot-ul {
        width: px2vmin(475px);
        height: px2vmin(48px);
        line-height: px2vmin(48px);
        // border: 1px pink solid;
        display: flex;
        
        

        padding-left: 0 !important;
        color: white;
        margin-bottom: 0 !important;
        .details-foot-yi {
          width: px2vmin(60px);
          height: px2vmin(48px);
          //   border: 1px blue solid;
          margin-left: px2vmin(16px);
          text-align: center;
        }
        .details-foot-301 {
          width: px2vmin(280px);
          height: px2vmin(48px);
          //   border: 1px blue solid;
          margin-left: px2vmin(23px);
          text-align: center;
        }
        #details-foot-button {
          width: px2vmin(80px);
          height: px2vmin(48px);
          //   border: 1px blue solid;
          text-align: center;
          margin-left: px2vmin(4px);
        //   .details-foot-button-img {
        //     display: block;
        //     width: px2vmin(24px);
        //     height: px2vmin(24px);
        //     background: url(../../../../assets/styles/images/icon_dw.png);
        //     background-size: 100%;
        //     // border: 1px pink solid;
        //     margin-left: px2vmin(32px);
        //     margin-top: px2vmin(12px);
        //     cursor: pointer;
        //   }
        }
      }
      .detalis-foot-color {
        width: px2vmin(475px);
        height: px2vmin(48px);
        background: url(../../../../assets/styles/images/img_rl_1.png);
        background-size: 100%;
      }
    }
  }
}
